@font-face {
	font-family: 'CustomMuseoSansBold';
	src: url('MuseoSans-900.eot');
	src: url('MuseoSans-900.eot?#iefix') format('embedded-opentype'),
		url('MuseoSans-900.woff') format('woff'),
		url('MuseoSans-900.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
